@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:'Dosis';

}
header{
    background-color:#f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
   

    }
.nav_links{
    display:flex;
    justify-content: space-between;
    gap: 10px;   
    list-style: none;
    
}
 a, button:hover {
    cursor:pointer;

 }
a {
    text-decoration:none;
    color: black;
    

}

.GetinTouch{

    margin:20px;
    padding-left:10px ;
    padding-right:10px ;
    font-size:medium ;
    height: 30px;

}
main{
  background: #9e89b8; 
  background:linear-gradient(rgba(81, 65, 79 ,0.8), rgba(81, 65, 79, 0.8)), url("city.jpg")  no-repeat center center / cover ;
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
}
.text{
margin:50px;
color: white;

}
 h1,p{
    padding: 10px;

}
footer{
background-color:#f2f2f2;
height:80px;
display:flex;
justify-content:space-between;
align-items:center;


}
.icons{
    display: flex;
    padding: 20px; 
    margin: 20px;
    gap: 20px;
    
    
}